%div{id: "wrapper"}
  %h1 #{@pageuser.username}'s follow page
  %section{id: "content"}
    %h2= link_to @pageuser.username + "'s page", tweet_path(@pageuser.id)
    %h2 following
    - @followeds.each do |f| 
      %p= link_to f.username + "'s page", tweet_path(f.id)
