= form_for(@follow) do |f|
  - if @follow.errors.any?
    #error_explanation
      %h2
        = pluralize(@follow.errors.count, "error")
        prohibited this follow from being saved:
      %ul
        - @follow.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
